@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css2?family=Pacifico");

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-900 text-white;
  box-sizing: border-box;
}

/* h1 {
  font-family: "Pacifico", sans-serif;
} */

body.modal-active {
  overflow: hidden;
  overflow-y: hidden;
}

body.modal-active header {
  z-index: auto;
}
